/* 'Cabin' found via Google Fonts https://fonts.google.com/specimen/Cabin */
* {
  font-family: "Cabin", sans-serif;
}
#site-brand, p.focused{
  color: white;
}
/* Want strong to place emphasis, 
   but not completely alter text's appearance */
strong {
  color: inherit;
}
p.focused {
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

/* Link & Nav Styling */
a {
  letter-spacing: 0.1em;
}
.active {
  color: #000;
  background-color: #ffffff;
}
.active:hover, .active:focus {
  color: inherit;
}
.inactive {
  color: #ffffff;
  background-color: rgba(0,0,0,.1);
}
.inactive:hover, .inactive:focus {
  background-color: rgb(20,20,20);
  color: rgb(100,180,250);
}
/* End of Link & Nav Styling */

/* IMG styling */
/* so images will match their parent element width */
img {
  width: 100%;
}
/* For Portrait layout pictures */
img.portrait {
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
}
.bg-mthood {
  background-color: darkslategray;
  background-image: url(images/mounthood_bradleythompson.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 45%;
  overflow: hidden;
  color: white;
}
