/* 'Cabin' found via Google Fonts https://fonts.google.com/specimen/Cabin */
* {
  font-family: "Cabin", sans-serif;
}
h1, p.focused{
  color: white !important;
}
/* Want strong to place emphasis, 
   but not completely alter text's appearance */
strong {
  color: inherit;
}
header {
  border-bottom: 3px solid black;
  padding-top: 10px;
}
/* Needed added readability w/ the chosen font */
a {
  font-size: 32px;
  letter-spacing: 0.2em;
  margin-right: 20px;
}
p.focused {
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}
/* Because this isn't default behavior? */
img {
  width: 100%;
}
/* For Portrait layout pictures */
img.portrait {
  height: 400px;
  width: 310px;
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
}
.bg-mthood {
  background-color: darkslategray;
  background-image: url(images/mounthood_bradleythompson.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 45%;
  overflow: hidden;
  color: white;
}
