/* 'Cabin' found via Google Fonts https://fonts.google.com/specimen/Cabin */
* {
  font-family: "Cabin", sans-serif;
}
#site-brand, p.focused{
  color: white;
}
/* Want strong to place emphasis, 
   but not completely alter text's appearance */
strong {
  color: inherit;
}
p.focused {
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

/* Link & Nav Styling */
a {
  letter-spacing: 0.1em;
}
.active {
  color: #000;
  background-color: #ffffff;
}
.active:hover, .active:focus {
  color: inherit;
}
.inactive {
  color: #ffffff;
  background-color: rgba(0,0,0,.1);
}
.inactive:hover, .inactive:focus {
  background-color: rgb(20,20,20);
  color: rgb(100,180,250);
}

@media (max-width: 768px) {
  /* When the menu button shows up on tablets and phones,
    make sure it is tucked in the top right. */
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 15px;
  }
  .nav-link {
    letter-spacing: 0em;
  }
}

/* Grid Styling */
aside {
  background-color: #f1f1d4;
  border: 2px solid #000;
  border-radius: 8px;
}
aside > p {
  font-family: 'Tangerine', cursive;
  font-size: 200%;
  border-bottom: 2px solid #9c0e0e;
}
.main {
  background-color: #f5f3f4;
  padding: 20px;
}

/* IMG styling */
/* so images will match their parent element width */
img.landscape {
  width: 100%;
}
/* For Portrait layout pictures */
img.portrait {
  padding: 10px;
  margin: 10px;
  height: 370px;
  width: 300px;
  border: 3px solid black;
  border-radius: 5px;
}