* {
  font-family: 'Cabin', sans-serif;
}
h1, a{
  font-family: 'Teko', sans-serif;
}
a {
  font-size: 32px;
  letter-spacing: .2em;
  margin-right: 20px;
}
header {
  color: white;
}
.portrait {
  height: 400px;
  width: 310px;
}
.box {
  border: 1px solid blueviolet;
}